FRONTEND_URL=http://127.0.0.1:5500

PORT=3000
NODE_ENV=development
JWT_SECRET=sua_chave_ultra_secreta_aqui
JWT_EXPIRES_IN=6h
DATABASE_FILENAME=./src/database/dev.db

# Configurações do envio de emails
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=seu_email_no_brevo@exemplo.com
SMTP_PASS=sua_chave_smtp_gerada_no_painel
EMAIL_FROM="Biblioteca Etec <email-cadastrado-no-provedor-de-envio-de-email@mail.com>"